body{
  background-color: rgb(224, 224, 224);
  /* font-family: 'Courier New', monospace; */
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

#empresa{
  width: 300px;
}

.botoes{
  width: 1100px;
  margin: 0px;
  padding: 0px;
}


.filtrodata{
  display:inline-block;
  border: 2px solid red;
}


.filtros{
  /* border: 2px solid black; */
  margin-left: 10px;
  padding-left: 0px;
}

.ordens{
  margin-left: 10px;
  padding-left: 0px;
  display: inline-block;
}

.item + .item{
/* border: 2px solid black; */
  padding: 10px;
}

.labels{
  font-weight: bold;
}

.debug{
  border: 2px solid black;
}

.header{
  color: aqua;
}

.botaoconsulta{
  width: fit-content;
  padding: 0px;
  margin-left: 0px;
}

#dtfim{
  margin-left: 9px;
}

.tl-filtro{
  margin-left: 5px;
  margin-bottom: 0px;
  margin-top: 5px;
  padding-top: 0px;
  font-size: 16px;
  color: #457eba;
}

.datas{
  padding-top: 0;
}
select{
  width: 150px;
}

hr{
  margin-top: 10px;
  margin-bottom: 10px;
}

.logout{
  height: 30px;
  text-align: right;
  right: 40px;
  position: fixed;
}