<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meus Cheques</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'novo.css' %}">
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-primary header">
    <div class="container-fluid">
      <a class="navbar-brand" href="/cheques"><strong>Cheques</strong></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/cheques/cadastro/">Cadastro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/cheques/hist">Histórico de cheques</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active logout" aria-current="page" href="/cheques/logout">Sair</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <p class="tl-filtro">Histórico de cheques</p>


  <hr>




  {%if lista_historico%}
  <table class="table table-striped cheques table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th style="text-align: center;" scope="col">data de compensação</th>
        <th style="text-align: center;" scope="col">destinatario</th>
        <th style="text-align: center;" scope="col">valor</th>
        <th style="text-align: center;" scope="col">nr_cheque</th>
        <th style="text-align: center;" scope="col">empresa</th>
        <th style="text-align: center;" scope="col">banco</th>
        <th style="text-align: center;" scope="col">agencia</th>
        <th style="text-align: center;" scope="col">conta</th>
        <th style="text-align: center;" scope="col">data de confecção</th>
        <th style="text-align: center;" scope="col">data da baixa</th>
      </tr>
    </thead>
    <tbody>
      {% for cheque in lista_historico %}
      {% if cheque.compensado %}
      <tr class="table-success">
        <th scope="row">{{ forloop.counter }}</th>
        <td style="text-align: center;">{{ cheque.dt_futura|date:'d/m/y' }}</td>
        <td>{{ cheque.destinatario }}</td>
        <td style="text-align: right;">R${{ cheque.valor|stringformat:".2f" }}</td>
        <td style="text-align: center;">{{ cheque.nr_cheque }}</td>
        <td>{{ cheque.empresa.nome }} - {{ cheque.empresa.cpfpj }}</td>
        <td>{{ cheque.banco.numero }} - {{ cheque.banco.nome }}</td>
        <td style="text-align: center;">{{ cheque.agencia }}</td>
        <td style="text-align: center;">{{ cheque.conta }}</td>
        <td style="text-align: center;">{{ cheque.dt_record|date:'d/m/y' }}</td>
        <td style="text-align: center;">{{ cheque.dt_comp_excl|date:'d/m/y' }}</td>
      </tr>
      {% else %}
      <tr class="table-danger">
        <th scope="row">{{ forloop.counter }}</th>
        <td style="text-align: center;">{{ cheque.dt_futura|date:'d/m/y' }}</td>
        <td>{{ cheque.destinatario }}</td>
        <td style="text-align: right;">R${{ cheque.valor|stringformat:".2f" }}</td>
        <td style="text-align: center;">{{ cheque.nr_cheque }}</td>
        <td>{{ cheque.empresa.nome }} - {{ cheque.empresa.cpfpj }}</td>
        <td>{{ cheque.banco.numero }} - {{ cheque.banco.nome }}</td>
        <td style="text-align: center;">{{ cheque.agencia }}</td>
        <td style="text-align: center;">{{ cheque.conta }}</td>
        <td style="text-align: center;">{{ cheque.dt_record|date:'d/m/y' }}</td>
        <td style="text-align: center;">{{ cheque.dt_comp_excl|date:'d/m/y' }}</td>
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
  <div>
    <a class="btn btn-warning" href="/cheques/limparhist">Limpar histórico</a>
  </div>
  {% else %}
  <p style="margin-left: 5px">Ainda não há cheques no histórico.</p>
  {% endif %}


</body>

</html>