<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meus Cheques</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script>
        function formata(campo_cpfpj){
            if (campo_cpfpj.length == 11){
                return campo_cpfpj.replace(/^(\d{3})(\d{3})(\d{3})(\d{2})/, "$1.$2.$3-$4");
            }
            if (campo_cpfpj.length == 14){
                return campo_cpfpj.replace(/^(\d{2})(\d{3})(\d{3})(\d{4})(\d{2})/, "$1.$2.$3/$4-$5")
            }
        }
    </script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary header">
        <div class="container-fluid">
            <a class="navbar-brand" href="/cheques"><strong>Cheques</strong></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/cheques/cadastro/">Cadastro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/cheques/hist">Histórico de cheques</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active logout" aria-current="page" href="/cheques/logout">Sair</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <p class="tl-filtro">Filtros</p>
    <div class="container filtros">
        <div class="row labels">
            <div class="col-3 datas">
                <p>Data de cadastro</p>
            </div>
            <div class="col-3">
                <p>Data de compensação</p>
            </div>
            <div class="col-2">
                <p>Empresa</p>
            </div>
            <div class="col-2">
                <p>Destinatário</p>
            </div>
            <div class="col-2">
                <p>Nr Cheque</p>
            </div>
        </div>

        <form method="get" name="query">
            <div class="row">

                <div class="col-3">
                    <div style={display:inline-block;}>
                        <label class="label" for="dt_cadastro_ini">Inicial</label>
                        <input class="dates" type="date" id="dt_cadastro_ini" name="dt_cadastro_ini">
                    </div>
                    <div style={display:inline-block;}>
                        <label id="dtfim" for="dt_cadastro_fim">Final</label>
                        <input type="date" id="dt_cadastro_fim" name="dt_cadastro_fim">
                    </div>
                </div>

                <div class="col-3">
                    <div style={display:inline-block;}>
                        <label class="label" for="dt_liberacao_ini">Inicial</label>
                        <input class="dates" type="date" id="dt_liberacao_ini" name="dt_liberacao_ini">
                    </div>
                    <div style={display:inline-block;}>
                        <label id="dtfim" for="dt_liberacao_fim">Final</label>
                        <input type="date" id="dt_liberacao_fim" name="dt_liberacao_fim">
                    </div>
                </div>

                <div class="col-2">
                    <select name="empresa" id="empresa" style="width: 200px;">
                        <option value="0">Todas empresas</option>
                        {% for empresa in lista_empresas %}
                        <option value="{{ empresa.id }}">{{ empresa.nome }} - {{ empresa.cpfpj }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-2">
                    <input class="form-control" type="text" id="destinatario" name="destinatario">
                </div>

                <div class="col-2">
                    <input class="form-control" type="text" id="nr_cheque" name="nr_cheque">
                </div>
            </div>
    </div>
    <hr>
    <div class="container ordens">
        <div class="row botoes">
            <div class="col-2 botaoconsulta">
                <button type="submit" class="btn btn-success" formaction="{% url 'index' %}">Consultar</button>
            </div>
            <div class="col-2 botaoconsulta">
                <a class="btn btn-primary" href="novo">Novo Cheque</a>
            </div>
            <div class="col-2 botaoconsulta">
                <button type="submit" class="btn btn-info"  formaction="{% url 'pdf_download' %}">Exportar pra PDF</button>
            </div>
        </form>
        </div>
    </div>
    <hr>

    {%if lista_cheques%}
    <table class="table table-striped cheques table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th style="text-align: center;" scope="col">data de compensação</th>
                <th style="text-align: start;" scope="col">destinatario</th>
                <th style="text-align: right;" scope="col">valor</th>
                <th style="text-align: center;" scope="col">nr_cheque</th>
                <th style="text-align: start;" scope="col">empresa</th>
                <th style="text-align: center;" scope="col">banco</th>
                <th style="text-align: center;" scope="col">agencia</th>
                <th style="text-align: center;" scope="col">conta</th>
                <th style="text-align: center;" scope="col">data de confecção</th>
            </tr>
        </thead>
        <tbody>
            {% for cheque in lista_cheques %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td style="text-align: center;">{{ cheque.dt_futura|date:'d/m/y' }}</td>
                <td>{{ cheque.destinatario }}</td>
                <td style="text-align: right;">R${{ cheque.valor|stringformat:".2f" }}</td>
                <td style="text-align: center;">{{ cheque.nr_cheque }}</td>
                <td id="cpfpj{{ forloop.counter }}"> {{ cheque.empresa.nome }} - {{ cheque.empresa.cpfpj }} </td>
                <script>
                    masked = formata("{{ cheque.empresa.cpfpj }}")
                    elem = document.getElementById("cpfpj{{ forloop.counter }}")
                    elem.innerHTML = `{{ cheque.empresa.nome }} - ${masked}`
                </script>
                <td>{{ cheque.banco }}</td>
                <td style="text-align: center;">{{ cheque.agencia }}</td>
                <td style="text-align: center;">{{ cheque.conta }}</td>
                <td style="text-align: center;">{{ cheque.dt_record|date:'d/m/y' }}</td>
                <td style="text-align: center;">
                    <a class="btn btn-primary" href="{% url 'compensar' id=cheque.id %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-check-lg" viewBox="0 0 16 16">
                            <path
                                d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                        </svg>
                    </a>
                    <a class="btn btn-primary" href="{% url 'editar' id=cheque.id %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-pencil" viewBox="0 0 16 16">
                            <path
                                d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                        </svg>
                    </a>
                    <a class="btn btn-primary" href="{% url 'chequesdel' id=cheque.id %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-trash" viewBox="0 0 16 16">
                            <path
                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                            <path fill-rule="evenodd"
                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                        </svg>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p style="margin-left: 5px">Consulte seus cheques.</p>
    {% endif %}

    {% if lista_cheques.has_other_pages %}
        <ul class="pagination">
            {% if lista_cheques.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ lista_cheques.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><span></span></li>
            {% endif %}
            {% for i in lista_cheques.paginator.page_range %}
                {% if lista_cheques.number == i %}
                    <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if lista_cheques.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ lista_cheques.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><span></span></li>
            {% endif %}
        </ul>
    {% endif %}

</body>

</html>